#header{
    background-color: #FF7718;
    height : 4vh;
    font-size: 12pt;
}

@media only screen and (max-width: 600px) {
    #header{
        visibility: hidden;
    }
}

#header #arrow-icon{
    margin-left: 0.5vw;
}

.mynavitems{
    margin-right : 3vw;
    margin-left : 3vw;
    text-decoration: none;
}