:root{
    --purple : #561B88;
    --orange : #F59F06;
}
#logo-navbar{
    width : 8vw;
    height : 10vh;
}
#navigation-bar{
    /* background-color: aqua; */
    height: 14vh;
    width : fit-content;
    margin-left : 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
#brand_name{
    color : var(--purple);
    text-shadow: 0 2px 2px gray; 
    font-weight: bold;
}

.my-nav-link{
    transition : 0.2s;
    position : relative;
    color : var(--purple);
    font-weight:500;
    text-shadow: 0 2px 2px gray; 
}
.my-nav-link:hover{
    color : var(--orange);
    font-weight: bold;
}
.my-nav-link:after{
    /* text-decoration: underline; */
    color : var(--purple);
    font-weight: bold;
    transition : 0.3s
}

.my-nav-link:hover::after{
    content : '';
    height : 2px;
    width : 100%;
    background-color : var(--orange);
    position : absolute;
    bottom : 5px;
    left : 0;
}

#adherent_btn{
    background-color: #F59F06;
    font-weight: bold;
    color : white;
    font-size: 11pt;
}

.nav-contact-info{
    text-shadow: 0 1px 2px gray; 
}